<!doctype html>
<html lang="en_US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{ title ?? entry.title ?? siteName }}</title>

    <link rel="stylesheet" href="{{ url('style.css') }}"/>
</head>
<body>
<header>
    <a href="{{ url('/') }}" class="logo">
        {{ icon('craft-logo', { class: 'logo-icon' }) }}
        <b class="logo-title">A Little More Custom</b>
        <i class="logo-subtitle">By Ben Carr</i>
    </a>
</header>
<main>
    {% block main %}{% endblock %}
</main>
{% if currentUser and currentUser.admin %}
    <footer>
        <a href="{{ entry.cpEditUrl }}" class="edit-button">
            {{ icon('pencil-square', { class: 'edit-button-icon' }) }}
            Edit {{ entry.type.name }}
        </a>
    </footer>
{% endif %}
</body>
</html>
