{% extends '_layout.twig' %}

{% set pages = craft.entries.section('pages').all() %}
{% set articles = craft.entries.section('articles').all() %}
{% set events = craft.entries.section('events').all() %}

{% block main %}
    <h1>{{ entry.title }}</h1>

    <section>
        <h2>Pages</h2>
        <ul>
            {% nav entry in pages %}
                <li>
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                    {% ifchildren %}
                        <ul>
                            {% children %}
                        </ul>
                    {% endifchildren %}
                </li>
            {% endnav %}
        </ul>
    </section>

    <section>
        <h2>Articles</h2>

        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.url }}">{{ article.title }}</a><br>
                    {{ entry.postDate | date('M j, Y') }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Events</h2>

        <ul>
            {% for event in events %}
                <li><a href="{{ event.url }}">{{ event.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
